<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  Hilera de Conexion -->
    <!-- DESARROLLO -->
    <!--
      <add key="connStr" value="User Id=SAB_NET;Password=ZXCV1234$;Data Source=desarrollo"/>
      -->

    <!-- CERTIFICACION -->
    <add key="connStr" value="User Id=SAB_NET;Password=AtiQPXydxDkIRn;Data Source=CERTIFICACION"/>

    <!--Home -->
    <add key="connStr" value="User Id=mytest;Password=valerie5250;Data Source=pruebas2"/>
    
    <!--Others parameters -->
    <add key="path1" value="C:\Users\fvargas\Documents"/>
    <add key="path2" value="C:\Users\fvargas\Documents"/>
  </appSettings>
</configuration>