<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--  Hilera de Conexion -->
    <!-- DESARROLLO -->
    <!--
    <add key="connStr" value="User Id=SAB_NET;Password=ZXCV1234$;Data Source=desarrollo"/>
    -->

    <!-- CERTIFICACION -->
    <!--
    <add key="connStr" value="User Id=SAB_NET;Password=AtiQPXydxDkIRn;Data Source=CERTIFICACION"/>
      -->

    <!--Home -->
    
    <add key="connStr" value="user id =mytest; password=oracle;  data source=Pruebas3"/>

    <!--Otros -->
    <add key="CaptionForm" value="Scarve Oracle"/>
    <add key="hideExitButton" value="false"/>
    <add key="refreshInterval" value="30"/>
    <add key="defOwner" value="MYTEST"/>
    <add key="defType" value="PACKAGE BODY"/>
    <add key="defObjName" value="GE_PAMBFECHA"/>
    
    <!--Path de guardado de archivos-->
    <add key="pathGuarda" value="C:\Users\fvargas\Documents\trash\Notas"/>

  </appSettings>
</configuration>