<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="menuDefFile" value="C:\Users\fvargas\Documents\ProyectosApp\Vs2013\ToolsGenMenu\ToolsGenMenu\Notes\MenuDef.xml"/>
    <!--  Hilera de Conexion -->
    <!-- DESARROLLO -->
    <!--
      <add key="connStr" value="User Id=SAB_NET;Password=ZXCV1234$;Data Source=desarrollo"/>
      -->

    <!-- CERTIFICACION -->
    <!--
    <add key="connStr" value="User Id=SAB_NET;Password=AtiQPXydxDkIRn;Data Source=CERTIFICACION"/>
    -->
    <!--Home -->
    <add key="connStr" value="User Id=mytest;Password=oracle;Data Source=pruebas3"/>

    <!--Otros -->
    <add key="hideExitButton" value="true"/>
    <add key="refreshInterval" value="30"/>
  </appSettings>
</configuration>
