<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--DESARROLLO -->
    <!--
    <add key="connStr" value="User Id=SAB_NET;Password=ZXCV1234$;Data Source=desarrollo"/>  
        -->
    <!--CERTIFICACION -->
    <!--
    <add key="connStr" value="User Id=SAB_NET;Password=AtiQPXydxDkIRn;Data Source=certificacion"/>
    -->
    <!--Home -->
    <add key="connStr" value="user id =mytest; password=oracle;  data source=Pruebas3"/>

    <add key="hideExitButton" value="false"/>
  </appSettings>
</configuration>
